.card {
  max-width: 28rem;
  max-height: 22.6rem;
  position: relative;
  .card-img {
    width: 28rem;
    height: 17.4rem;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.5s;
    .img {
      display: block;
      height: 100%;
      transition: inherit;
    }
    .play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include flexHr;
      justify-content: center;
      gap: 1.9rem;
      cursor: pointer;
      opacity: 0;
      transition: inherit;
      border-radius: 2.85rem;
      background-color: rgba(255, 255, 255, 0.25);
      padding: 0.9rem 2.4rem 0.9rem 0.9rem;
    }
  }
  .card-img:hover {
    .img {
      filter: brightness(50%);
    }
    .play {
      opacity: 1;
    }
  }
  .bookmark-container {
    cursor: pointer;
    padding: 1.6rem;
    background-color: rgba(16, 20, 30, 0.5);
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    border-radius: 50%;
    transition: all 0.5s;
    .icon-bookmark {
      transition: all 0.5s;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .bookmark-container:hover {
    background-color: #fff;
    .icon-bookmark {
      stroke: $darkblue;
    }
  }
  .dot {
    width: 3px;
    height: 3px;
    background-color: #979797;
    border-radius: 50%;
  }
  .card-info {
    padding-top: 0.8rem;
    @include flexHr;
    gap: 0.8rem;
    .category-container {
      @include flexHr;
      flex-grow: 0;
      gap: 0.6rem;
      .icon-category {
        height: fit-content;
      }
    }
  }
  .card-title {
    padding-top: 0.5rem;
    text-align: left;
  }
}
