$red: #fc4747;
$darkblue: #10141e;
$greyishblue: #5a698f;
$semidarkblue: #161d2f;

.cards {
  @include grid(4);
  row-gap: 3.2rem;
  column-gap: 4rem;
  width: 100%;
}

@media screen and (max-width: 1420px) {
  .cards {
    @include grid(3);
    row-gap: 2.4rem;
    column-gap: 3rem;
    width: 100%;
  }
}
