@use "../../variables";
@use "../../mixins";

.embla__slide {
  flex: 0 0 47rem;
  min-width: 0;
  height: 23rem;
  position: relative;
  .tr-card-img {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.5s;
    height: 100%;
    .tr-img {
      display: block;
      height: 100%;
      transition: inherit;
      pointer-events: none;
    }
    .tr-play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include mixins.flexHr;
      justify-content: center;
      gap: 1.9rem;
      cursor: pointer;
      opacity: 0;
      transition: inherit;
      border-radius: 2.85rem;
      background-color: rgba(255, 255, 255, 0.25);
      padding: 0.9rem 2.4rem 0.9rem 0.9rem;
    }
  }
  .tr-card-img:hover {
    .tr-img {
      filter: brightness(50%);
    }
    .tr-play {
      opacity: 1;
    }
  }
  .tr-bookmark-container {
    cursor: pointer;
    padding: 1.6rem;
    background-color: rgba(16, 20, 30, 0.5);
    position: absolute;
    top: 1.6rem;
    right: 2.4rem;
    border-radius: 50%;
    transition: all 0.5s;
    .tr-icon-bookmark {
      transition: all 0.5s;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .tr-bookmark-container:hover {
    background-color: #fff;
    .icon-bookmark {
      stroke: variables.$darkblue;
    }
  }
  .tr-dot {
    width: 3px;
    height: 3px;
    background-color: #979797;
    border-radius: 50%;
  }
  .tr-card-descr {
    position: absolute;
    bottom: 2.4rem;
    left: 2.4rem;
    .tr-card-info {
      @include mixins.flexHr;
      gap: 0.8rem;
      .tr-category-container {
        @include mixins.flexHr;
        flex-grow: 0;
        gap: 0.6rem;
        .tr-icon-category {
          height: fit-content;
        }
      }
    }
    .tr-card-title {
      padding-top: 0.5rem;
      text-align: left;
    }
  }
  .tr-rating-mobile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .embla__slide {
    flex: 0 0 24rem;
    height: 14rem;
    .tr-bookmark-container {
      top: 0.8rem;
      right: 0.8rem;
    }
    .tr-card-descr {
      bottom: 1.6rem;
      left: 1.6rem;
      .tr-card-info {
        .tr-dot:nth-child(4) {
          display: none;
        }
        gap: 0.8rem;
        .tr-category-container {
          gap: 0.8rem;
        }
        .tr-rating-desktop {
          display: none;
        }
      }
      .tr-card-title {
        padding-top: 0.4rem;
        text-align: left;
      }
    }
    .tr-rating-mobile {
      opacity: 1;
      width: 3.4rem;
      height: 2.1rem;
      background-color: rgba(255, 255, 255, 0.15);
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 2.4rem;
      right: 1.6rem;
      border-radius: 10.5px;
    }
  }
}
