@use "../../variables";

#root {
  margin: 0 auto;
  padding: 3.2rem 3rem 5.2rem 3.2rem;
}

::-webkit-scrollbar {
  width: 10px;
  color: variables.$red;
}

::-webkit-scrollbar-track {
  background: variables.$semidarkblue;
}

::-webkit-scrollbar-thumb {
  background: variables.$red;
}

.main {
  margin: 0 auto;
  padding-left: 13.2rem;
  .main-heading {
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 1210px) {
  #root {
    padding: 2.3rem 2.45rem 5.6rem;
    .App {
      max-width: 90rem;
      margin: 0 auto;
    }
  }

  .main {
    padding: 0;
    .main-heading {
      margin-bottom: 2.5rem;
    }
  }
}

@media screen and (max-width: 960px) {
  #root {
    .App {
      max-width: 71.9rem;
    }
  }
}
@media screen and (max-width: 767px) {
  #root {
    .App {
      max-width: 54rem;
    }
  }
}
@media screen and (max-width: 590px) {
  #root {
    .App {
      max-width: 40rem;
    }
  }
}
@media screen and (max-width: 450px) {
  #root {
    padding: 0rem 1.6rem 6.1rem;
    .App {
      max-width: unset;
    }
  }
}
