.content {
  margin: 0 auto;
  max-width: 124rem;
}

@media screen and (min-width: 2000px) {
  .content {
    max-width: 160rem;
  }
}

@media screen and (max-width: 1420px) {
  .content {
    max-width: 100rem;
  }
}

@media screen and (max-width: 450px) {
  .content {
    max-width: 34.3rem;
    margin: 0 auto;
  }
}

@media screen and (max-width: 370px) {
  .content {
    max-width: 30rem;
  }
}
